
.card-img {
  width: 400px;
  margin: auto;
}

.card-title {
  display: flex;
  justify-content: center;
  font-size: 1.35em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(108, 56, 56);
}
.profession {
  display: flex;
  justify-content: center;
  font-size: 1.35em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color:rgb(89, 41, 41);
}
.bio {
  text-align: center;
  font-size: medium;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  margin-left: 80px;
  margin-right: 80px;
  color:black;
}
.App{
  background-image: url(https://i-mom.unimedias.fr/2023/12/07/actu_malefique3-copie.jpg?auto=format,compress&cs=tinysrgb&w=1200);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.card {
    max-width: 1000px;
    margin: 40px auto 0 auto;
    background-image: linear-gradient(to top, rgb(126, 126, 176), lightblue);
}
button{
    width: 300px;
    margin: auto;
    border-radius: 15px;
}
.counters{
    text-align: center;
    font-weight: bold;

}
